.app-container {
  margin: 1rem;

  h1 {
    padding: 24px;
    margin: 0 0 1rem;
    text-align: center;

  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}
