<div class="list-container">
  <mat-list class="tasks">
    <h2 mat-subheader class="list-title" [class.done-title]="isToDo === false">
      {{ isToDo ? "To Do" : "Done" }}
    </h2>
    <ng-container *ngIf="(listTasks$ | async)?.length; else noTasks">
      <mat-list-item
        class="task-row mat-elevation-z3"
        *ngFor="let task of listTasks$ | async; let i = index"
      >
        <div class="content">
          <div class="content-box">
            <div class="content-header">
              <h3>{{ task.name }}</h3>
              <button
                mat-icon-button
                (click)="editTask(i)"
                aria-label="Edit task"
                *ngIf="isToDo"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <p class="task-text">{{ task.description }}</p>
          </div>
          <mat-checkbox
            class="example-margin"
            *ngIf="isToDo"
            (click)="moveToDone(i)"
          ></mat-checkbox>
          <mat-checkbox
            class="example-margin"
            *ngIf="!isToDo"
            (click)="removeFromDone(i)"
            checked
          ></mat-checkbox>
        </div>
      </mat-list-item>
    </ng-container>
  </mat-list>
  <button
    mat-button
    color="accent"
    class="add-item"
    *ngIf="isToDo"
    (click)="addTask()"
  >
    <mat-icon>add</mat-icon>
    Add Task
  </button>
</div>

<ng-template #noTasks>
    <p class="no-tasks">There are currently no tasks. Add new or move tasks.</p>
</ng-template>
