<div class="list-container">
  <div class="card-wrapper">
    <mat-card [class.done-items]="!isToDo">
      <mat-card-title
        class="card-title"
        [class.done-title]="isToDo === false"
        >{{ isToDo ? "To-Do" : "Done" }}</mat-card-title
      >

      <div [formGroup]="form">
        <ng-container formArrayName="tasks">
          <ng-container *ngFor="let taskControl of tasks.controls; index as i">
            <mat-selection-list>
              <mat-list-option class="task-row" [formGroupName]="i">
                <h3>
                  {{ taskControl.value.name }}
                  <button
                    *ngIf="isToDo"
                    mat-icon-button
                    (click)="editTask(i)"
                    aria-label="Edit task"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </h3>
                <p class="task-text">{{ taskControl.value.description }}</p>
              </mat-list-option>
            </mat-selection-list>
          </ng-container>
        </ng-container>
      </div>
    </mat-card>
  </div>
  <button
    mat-button
    color="accent"
    class="add-item"
    *ngIf="isToDo"
    (click)="openAddTaskDialog()"
  >
    <mat-icon>add</mat-icon>
    Add Task
  </button>
</div>
