.list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .list-title {
    background-color: #659dd4;
    color: white;
    padding: 16px;
    text-align: center;
    margin: 0 !important;
    font-size: 24px;

    &.done-title {
      background-color: #71d353;
    }
  }

  .task-row:nth-child(n) {
    height: auto;

    .task-text {
      white-space: break-spaces;
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content-header {
      display: flex;
      flex-direction: row;
    }
    .example-margin {
      margin: 0 12px;
      transform: scale(1.4);
    }
  }

  .add-item {
    max-width: fit-content;
    align-self: end;
    font-size: 16px;
  }
}
